* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 1.6rem;
}

/*navigation*/

header {
	top: 0;
}
/*menu btn*/
.menu__btn {
	position: absolute;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	padding: 0;
	right: 10px;
	bottom: 10px;
}
.line {
	fill: none;
	stroke: #4966bc;
	stroke-width: 6;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
		stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}
.line2 {
	stroke-dasharray: 60 60;
	stroke-width: 6;
}
.line3 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}
.opened .line1 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}
.opened .line2 {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
	stroke-width: 6;
}
.opened .line3 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

.navbar {
	background: rgb(0, 0, 0);
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.6068802521008403) 0%,
		rgba(0, 0, 0, 0.5284488795518207) 36%,
		rgba(0, 0, 0, 0.45281862745098034) 52%,
		rgba(0, 0, 0, 0.3715861344537815) 66%,
		rgba(0, 0, 0, 0.1474964985994398) 100%
	);
}

.bright {
	filter: brightness(0.3);
}

.font-style-1 {
	font-family: "Amatic SC", sans-serif;
	font-weight: bold;
}

.navbar-brand {
	font-size: 2.5rem;
}

.carousel-caption {
	position: absolute;
	top: 40%;
}

/*about*/

.about {
	color: black;
}

.about h2,
.offer h2,
.prices h2,
.contact h2 {
	font-size: 3rem;
	color: #4966bc;
}

.about h5 {
	font-size: 2rem;
	font-weight: bold;
	color: #4966bc;
}

/*offer*/

.accordion {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.413);
}

.accordion-item h2 {
	text-align: center;
}

.offer {
	margin-top: 4rem;
}

/*prices*/
.card {
	background-color: rgb(244, 244, 254);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.413);
	margin-bottom: 30px;
}

.prices .card-text ul {
	list-style-type: none;
}

.prices h3 {
	text-decoration: underline;
	font-size: 1.8rem;
}

/*contact*/

.contact,
footer {
	text-align: center;
	background-color: #cedef2;
}

.contact a {
	color: black;
	font-size: 1.8rem;
}

.icon {
	margin: 5px 10px;
}
